In [2]:
#-*- coding: utf-8 -*-
import pandas as pd
import json

In [ ]:
def DataProcessing(value):
    print("###data 전처리 시작###")
    origin_data = value['data'][0][0]
    print("## origin_data ##")
    print(origin_data)
    try :
        experiment_data = origin_data['experiment data']
        experiment_data = pd.DataFrame(experiment_data)
        experiment_data = experiment_data.astype(int)
    

        # formulation data 전처리
        input = origin_data['formulation']

        # 딕셔너리 리스트를 DataFrame으로 변환
        input_df = pd.DataFrame(input)
        
        # excipients replace(공백 -> .) : R에서는 공백 있을 시 error
        input_df['excipients'] = input_df['excipients'].apply(lambda x: x.replace(" ", "."))

        input_df['input.range.min'] = input_df['input range'].apply(lambda x: x['min'])
        input_df['input.range.max'] = input_df['input range'].apply(lambda x: x['max'])

        input_df = input_df.drop(columns = ['kind', 'max', 'use range', 'input range'])

        input_df['input.range.min'] = input_df['input.range.min'].astype(int)
        input_df['input.range.max'] = input_df['input.range.max'].astype(int)
    except Exception as e:
        print(e)
        
    print("### 데이터 최종 전처리 결과 ###")
    print(experiment_data)
    print(input_df)
    
    return experiment_data, input_df

In [16]:
with open('./data2.json', 'r') as f:
    data = json.load(f)

origin_data = data['data']['header']

origin_data

TypeError: list indices must be integers or slices, not str

In [8]:
experiment_data = origin_data['experiment data']

experiment_data

[{'appearance': ['7',
   '10',
   '6',
   '10',
   '11',
   '4',
   '3',
   '10',
   '4',
   '3',
   '44',
   '10',
   '20',
   '7']},
 {'identification': ['8',
   '5',
   '7',
   '6',
   '2',
   '4',
   '8',
   '5',
   '2',
   '4',
   '5',
   '5',
   '1',
   '9']},
 {'assay': ['9',
   '8',
   '8',
   '8',
   '6',
   '7',
   '9',
   '7',
   '6',
   '3',
   '7',
   '7',
   '5',
   '3']}]

In [12]:
experiment_data = origin_data['experiment data']

df_data = {}
for item in experiment_data:
    for key, value in item.items():
        df_data[key] = value

        # 데이터프레임 생성
experiment_data = pd.DataFrame(df_data)
experiment_data = experiment_data.astype(int)

experiment_data

    appearance  identification  assay
0            7               8      9
1           10               5      8
2            6               7      8
3           10               6      8
4           11               2      6
5            4               4      7
6            3               8      9
7           10               5      7
8            4               2      6
9            3               4      3
10          44               5      7
11          10               5      7
12          20               1      5
13           7               9      3

In [ ]:
            #############
            ##-effects-##
            #############
            y_list = value['data']['header']

            # min max 추출
            range_list = []
            for i in range(len(y_list)):
                y_value = y_list[i]
                convert_y_list = experiment_data[y_value].tolist()

                # min값 y값 추출
                min_value = min(convert_y_list)
                max_value = max(convert_y_list)

                # min / max -> int? float?
                # float -> 소수 세번째 자리
                ## min ##
                if isinstance(min_value, int):
                    pass
                else:
                    min_value = round(min_value, 2)
                ## max ##
                if isinstance(max_value, int):
                    pass
                else:
                    min_value = round(max_value, 2)

                range_dict = {}
                range_dict['min'] = min_value
                range_dict['max'] = max_value

                range_list.append(range_dict)

            # CQA
            range_str_list = []
            
            # range value
            result_range_list = []

            for z in range(len(y_list)):
                range_str_list.append(y_list[z])
                result_range_list.append(range_list[z])
                effect_range_dict = dict(zip(range_str_list, result_range_list))
            
            effect_list = []
            effect_range_dict = list(effect_range_dict.items())
            for f in range(len(y_list)):
                new_dict = {}
                y_str = "Y%d" % (f+1)
                new_dict[y_str] = {effect_range_dict[f][0] : effect_range_dict[f][1]}
                effect_list.append(new_dict)

In [17]:
import pandas as pd

In [21]:
image_df = pd.read_csv("./rseponse.csv")
image_df

  image_type image_name image_to_text
0    contour        1_1             a
1    contour        1_2             b
2     pareto        2_1             a
3     pareto        2_2             b
4   response        3_1             a
5   response        3_2             b

In [27]:
# Initialize the result dictionary
image_result = {}

# Iterate through each row in the DataFrame
for _, row in image_df.iterrows():
    image_type = row['image_type']
    
    # If image_type is not in the result dictionary, initialize it with an empty list
    if image_type not in image_result:
        image_result[image_type] = []

    # Append the current row's data as a dictionary to the list
    image_result[image_type].append({
        'image_name': row['image_name'],
        'image_to_base64': row['image_to_text']
    })

print(image_result)

{'contour': [{'image_name': ' 1_1', 'image_to_base64': ' a'}, {'image_name': ' 1_2', 'image_to_base64': ' b'}], 'pareto': [{'image_name': ' 2_1', 'image_to_base64': ' a'}, {'image_name': ' 2_2', 'image_to_base64': ' b'}], 'response': [{'image_name': ' 3_1', 'image_to_base64': ' a'}, {'image_name': ' 3_2', 'image_to_base64': ' b'}]}

In [48]:
users = [
    {'name' : '머쓱이', 'part' : 'AI', 'pay' : 50000},
    {'name' : '스펜서', 'part' : 'AI', 'pay' : 30000},
    {'name' : '로글이', 'part' : 'AI', 'pay' : 50000}
]

In [41]:
for user in users:
    print(user)
    
user['스펜서' == user['name'] for user in users:] += 35000

SyntaxError: invalid syntax (2627623230.py, line 4)

In [63]:
user = users[0]
user

{'name': '머쓱이', 'part': 'AI', 'pay': 50000}

In [70]:
for key, value in user.items():
    print(key, ">", value)

name > 머쓱이
part > AI
pay > 50000

In [74]:
numbers = [-3, 3, 6, -6, 4, 6, 8, 1, 0, 2, 0, -5]
while numbers.pop() > 0:
   print(numbers)

In [80]:
users = [
    {'name': '머쓱이', 'part': 'AI', 'pay': 2000},
    {'name': '스펜서', 'part': 'BackEnd', 'pay': 10000},
    {'name': '쓰쓱이', 'part': 'FrontEnd', 'pay': 3000},
    {'name': '숲헨서', 'part': 'Embedded', 'pay': 5000},
    {'name': '멍쓱이', 'part': 'IOS', 'pay': 7000},
    {'name': '수헨서', 'part': 'Android', 'pay': 1500},
]
i = 0
while i < len(users):
    if users[i]['pay'] >= 5000:
        pass
    else:
        users[i]['pay'] += 2500
    i+=1
    
users

[{'name': '머쓱이', 'part': 'AI', 'pay': 4500},
 {'name': '스펜서', 'part': 'BackEnd', 'pay': 10000},
 {'name': '쓰쓱이', 'part': 'FrontEnd', 'pay': 5500},
 {'name': '숲헨서', 'part': 'Embedded', 'pay': 5000},
 {'name': '멍쓱이', 'part': 'IOS', 'pay': 7000},
 {'name': '수헨서', 'part': 'Android', 'pay': 4000}]